* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}
body{
    height: 100vh;
    background-color: #f4f4f4;
}
li{
    list-style: none;

}
a{
    text-decoration: none;
    font-size: 1rem;
    color: #000;
}
a:hover{
    color: blueviolet;
}

/* HEADER */
header{
    position: relative;
    padding: 0 2rem;
}
.navbar{
    width: 100%;
    height: 60px;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
